<script>
	import { Program } from "./dsl/program.js";
	import { Board } from "./board.js";
	import KarelWorld from "./KarelWorld.svelte";
	import KarelEditor from "./KarelEditor.svelte";
	import KarelController from "./KarelController.svelte";

	let max_recursion = 10;
	let program = Program.random(max_recursion);
	let board = Board.random();
	let update_world;
	let program_parameters = {
		max_budget: 1000
	};

	function program_callback(tree) {
		console.log([tree, board]);
		update_world();
	}

	function run_program() {
		let parameters = {...program_parameters};
		program.transform(board, parameters, program_callback);
		update_world();
	}
</script>

<div class="row">
	<div class="column">
		<div class="area">
			<KarelWorld board={board} bind:update_world={update_world}>
			</KarelWorld>
		</div>
	</div>

	<div class="column">
		<div class="area">
			<button on:click={run_program}>Run</button>
			<KarelEditor program={program}>
			</KarelEditor>
		</div>
	</div>
</div>

<div class="controller" on:click={update_world}>
	<KarelController
		board={board}
		program_parameters={program_parameters}
		program_callback={program_callback}
	>
	</KarelController>
</div>

<style>
	.area { height: 100%; border-style: solid; display: flex;}
	.row {
		display: flex;
		height: 50%;
	}
	.column {
		flex-basis: 100%;
	}
	.controller { margin: auto; height: 20%; }
	html, body { height: 100%; }
</style>
