<script>
	import { spring } from 'svelte/motion';
	import { writable } from 'svelte/store';
	import { action_factories } from './dsl/action.js';

	// Board to be controlled
	export let board;
	export let program_parameters;
	export let program_callback;

	let actions = [];
	for(const action_factory of action_factories)
		actions = [...actions, new action_factory()];

	function apply(action) {
		let parameters = {...program_parameters};
		action.transform(board, parameters, program_callback);
	}
</script>

<div class="row">
	{#each actions as action, i}
		<div class="column">
			<div class="area">
				<button on:click={apply(action)}>{action.type}</button>
			</div>
		</div>
	{/each}
</div>

<style>
	.area { min-width: 80%; height: 90%; max-width: 90%; max-height: 90%; margin: auto; }
	.row {
		display: flex;
		height: 100%;
	}
	.column {
		flex-basis: 100%;
	}
</style>
