<script>
	/**
	* Display Karel programs with syntax highlighting.
	**/
	import hljs from 'highlight.js/lib/core';
	import 'highlight.js/styles/github.css';
	import python from 'highlight.js/lib/languages/python';
	hljs.registerLanguage('python', python);

	// TODO: parametrize starting program
	export let program = null;
	export let code = "";

	// Reactive program data structure
	$: if(program) {
		code = program.get_code();
	}

	// Reactive code highlighting
	$: if(code) {
		hljs.highlightAll();
	}
</script>

<div bind:this={code}>
	<pre><code>
	{code}
	<code/><pre/>
</div>

<style>
	div { flex: 1 1 auto; overflow-y: auto; }
	pre { margin: 0em; }
	pre code { padding: 0em; display: unset; margin: 0em; }
</style>
